$grey: #939393;
$red: #ea0d0d;
$yellow: #ffbf00;
$green: #059505;

.container {
  width: 200px;

  input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
  }
}

.password-strength {
  width: 100%;
  display: inline-flex;
  margin-top: 10px;

  .bar {
    flex-grow: 1;
    height: 6px;
    background-color: $grey;
    justify-content: space-between;
    border-radius: 3px;

    &:nth-child(2) {
      margin: 0 7px;
    }
  }

  &.easy {
    .bar:first-child {
      background-color: $red;
    }
  }

  &.medium {
    .bar:first-child, .bar:nth-child(2) {
      background-color: $yellow;
    }
  }

  &.hard {
    .bar {
      background-color: $green;
    }
  }

  &.invalid {
    .bar {
      background-color: $red !important;
    }
  }

  &.empty {
    .bar {
      background-color: $grey !important;
    }
  }
}
